<div class="user-detail-view view-frame" md-whiteframe="2" ng-if="userDetail.isFound">
	<div class="view-header">
		<img ng-src="{{ userDetail.user.photo }}">

		<h1>
			{{ userDetail.user.full_name }}
			<small>{{ userDetail.user.email }}</small>
		</h1>

		<md-button class="md-raised md-primary" ui-sref="user.edit({ user_id: userDetail.user.id })">
			<i class="fa fa-pencil"></i> Edit User
		</md-button>

		<md-button class="md-raised" ng-click="userDetail.deleteUser(userDetail.user.id)">
			<i class="fa fa-times"></i> Delete User
		</md-button>
	</div>

	<div ng-if="userDetail.user.token">
		<h2>Your API Token</h2>
		<div class="token">{{ userDetail.user.token }}</div>
	</div>
</div>

<div ng-if="userDetail.params.isNotFound">
	<not-found params="userDetail.params"></not-found>
</div>
