@import '../../static/styles/variables';

.user-detail-view {
	.header {
		overflow: hidden;
		margin-bottom: $padding-medium;
		margin-top: $padding;
	}

	img {
		margin-right: $padding-medium;
		height: 86px;
		width: 86px;
	}

	h1 {
		width: 400px;
	}

	small {
		display: block;
		color: $gray-mid;
		font-size: 65%;
		margin: 5px;
	}

	li {
		margin-bottom: 15px;
		margin-left: $padding;
		outline: none;
		cursor: pointer;
	}

	.token {
		padding: $padding $padding;
		margin-bottom: $padding;
		color: $gray-medium;
	}
}
