<table class="table-data">
	<thead>
	<tr>
		<th class="actions"></th>
		<th
			ng-repeat="column in tableData.columns"
			ng-class="{ secondary : column.nonSchema }"
		>{{ ::column.name }}</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in tableData.rows">
		<td class="actions">
			<div class="delete-record-button" aria-label="delete record button" ng-click="showConfirm(row)">
				<i class="fa fa-times"></i>
			</div>
		</td>
		<td ng-if="!tableData.isJson(cell)" ng-repeat="cell in ::row track by $index">
			{{ ::cell }}
		</td>
		<td ng-if="tableData.isJson(cell)" ng-repeat="cell in ::row track by $index">
			<json-formatter json="cell"></json-formatter>
		</td>
	</tr>
	</tbody>
</table>
