<table>
	<thead>
		<tr>
			<th ng-repeat="column in tableData.columns"
			    ng-class="{ secondary : column.nonSchema }">
				{{ ::column.name }}
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in tableData.rows"
				ui-sref="data.edit({ schemaName  : tableData.schemaName,
														 document_id : tableData.data[$index].id })">
			<td ng-repeat="cell in ::row track by $index">
				<div class="ellipsis" ng-if="!tableData.isJson(cell)">
					{{ ::cell }}
				</div>
				<div ng-if="tableData.isJson(cell)">
					<json-formatter json="cell"></json-formatter>
				</div>
			</td>
		</tr>
	</tbody>
</table>
