<div class="record-browser-view">
	<query-builder
		schema-list="recordBrowser.schemaList"
		on-change="recordBrowser.executeQuery"
		md-whiteframe="2"
	></query-builder>

	<div class="help-text" ng-hide="recordBrowser.results">
		<h1>Use the Query Builder to the left to retrieve your data.</h1>
	</div>
	<md-tabs md-dynamic-height ng-show="recordBrowser.results">
		<md-tab label="Table">
			<table-data
				schema-fields="recordBrowser.results.schema.fields"
				data="recordBrowser.results.documentList"
				schema-name="recordBrowser.results.schema.name"
			></table-data>
		</md-tab>

		<md-tab label="JSON">
			<pretty-json json="recordBrowser.results.documentList"></pretty-json>
		</md-tab>
	</md-tabs>
</div>
