@import '../../static/styles/variables';

$sidebar-width: 300px;

.record-browser-view {
	query-builder {
		position: fixed;
		top: $header-height;
		bottom: 0;
		left: 0;
		width: $sidebar-width;
		padding: $padding;
		background: $white;
	}

	.help-text,
	md-tabs {
		margin-left: $sidebar-width;
	}

	.help-text h1 {
		display: block;
		text-align: center;
		color: $gray-mid-light;
		max-width: 750px;
		margin: auto;
		padding: $padding-large $padding-medium 0;
	}

	table {
		margin-top: 5px
	}
}
