@import '../../static/styles/variables';

$sidebar-width: 300px;
$md-desktop-duration: 0.15s;
$md-easing-standard: cubic-bezier(0.4, 0.0, 0.2, 1);

.record-browser-view {
	query-builder {
		position: fixed;
		top: $header-height;
		bottom: 0;
		left: 0;
		width: $sidebar-width;
		padding: $padding;
		background: $white;
	}

	.help-text,
	md-tabs {
		margin-left: $sidebar-width;
	}

	.help-text h1 {
		display: block;
		text-align: center;
		color: $gray-mid-light;
		max-width: 750px;
		margin: auto;
		padding: $padding-large $padding-medium 0;
	}

	table {
		margin-top: 5px;

		tbody {
			tr:hover {
				background: #eee;
				cursor: pointer;
			}
		}
	}


	///////////////
	// JSON viewer
	///////////////

	pre.pretty-json {
		outline: 0;

		span {
			$pink: #E91E63;
			$red: #F44336;
			$purple: #9C27B0;
			$deep-purple: #673AB7;
			$teal: #00897B;
			$cyan: #00838F;
			$green: #2E7D32;
			$amber: #FFC107;
			$orange: #EF6C00;
			$deep-orange: #D84315;
			$yellow: #F9A825;
			$indigo: #283593;
			$lime: #AFB42B;

			&.number { color: $teal; }
			&.boolean { color: $deep-orange; }
			&.key { color: $primary; }
			&.string { color: $green; }
			&.null { color: $lime; }
			&.sep { color: $gray-medium; }
		}
	}
}

.flush-right {
	z-index: 9999999;
	position: fixed;
	top: 90px;
	right: 20px;
}
