@import '../../assets/styles/variables';

$sidebar-width: 300px;

.record-browser-view {
	query-builder {
		position: fixed;
		top: $header-height;
		bottom: 0;
		left: 0;
		width: $sidebar-width;
		padding: $padding;
		background: $white;
	}

	md-tabs {
		margin-left: $sidebar-width;
	}
}
