<div class="record-browser-view">
	<query-builder
		schema-list="recordBrowser.schemaList"
		on-submit="recordBrowser.executeQuery"
		md-whiteframe="2"
	></query-builder>

	<div class="help-text" ng-hide="recordBrowser.results">
		<h1>Use the Query Builder to the left to retrieve your data.</h1>
	</div>

	<div class="help-text" ng-show="recordBrowser.results && !recordBrowser.dataExists && !recordBrowser.error">
		<h1 class="info">No results to display</h1>
	</div>

	<div class="help-text error" ng-show="recordBrowser.error">
		<i class="fa fa-exclamation-circle"></i>
		<h2 class="error-text">There was an error processing your request.</h2>
	</div>

	<md-tabs md-dynamic-height ng-show="recordBrowser.results && !recordBrowser.error && recordBrowser.dataExists">
		<md-tab label="Table">
			<table-data
				schema-fields="recordBrowser.results.schema.fields"
				data="recordBrowser.results.documentList"
			></table-data>
		</md-tab>

		<md-tab label="JSON">
			<pretty-json json="recordBrowser.results.documentList"></pretty-json>
		</md-tab>
	</md-tabs>
</div>
