@import 'variables';

.md-button {
	margin: 0;
	padding: 0 $padding;
	text-transform: none;

	.fa {
		color: #212121; // TODO: don't hard-code this
		margin-right: 3px;
	}

	&.md-primary .fa {
		color: $white;
	}

	&[disabled] .fa {
		color: rgba(0, 0, 0, .26); // TODO: don't hard-code this
	}
}

md-checkbox {
	margin-bottom: 0;
}

md-dialog .md-button:not([disabled]):hover {
	color: $white !important;
	background-color: $blue !important;
}
