<form name="roleSaveForm" class="role-create-view view-frame" md-whiteframe="2" autocomplete="off" ng-if="roleForm.isFound">
	<h1>{{ roleForm.formType + ' Role' }}</h1>

	<div class="message"
	     ng-if="roleForm.status"
	     ng-class="roleForm.status.result">
		{{ roleForm.status.message }}
	</div>

	<md-input-container class="md-block">
		<label>Role Name</label>
		<input type="text" ng-model="roleForm.role.name" required>
	</md-input-container>

	<md-button
		class="md-raised md-primary pull-right"
		type="submit"
		ng-click="roleForm.createRole(roleForm.role.name)"
		ng-disabled="roleSaveForm.$invalid || roleForm.isSaving"
	>{{ roleForm.isSaving ? 'Saving...' : roleForm.formType }}</md-button>
</form>

<div ng-if="roleForm.params.isNotFound">
	<not-found params="roleForm.params"></not-found>
</div>
