<form name="roleSaveForm" class="role-create-view view-frame" md-whiteframe="2" autocomplete="off" >
	<h1>{{ roleForm.formType + ' Role' }}</h1>

	<div class="message"
	     ng-if="roleForm.status"
	     ng-class="roleForm.status.result">
		{{ roleForm.status.message }}
	</div>

	<md-input-container class="md-block">
		<label>Role Name</label>
		<input type="text" ng-model="roleForm.role.name" required>
	</md-input-container>

	<h2>Permissions</h2>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Can view</th>
				<th>Can change</th>
				<th>Can delete</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Members</th>
				<td><md-checkbox ng-model="roleForm.role.permissions.members.canView"></md-checkbox></td>
				<td><md-checkbox ng-model="roleForm.role.permissions.members.canChange"></md-checkbox></td>
				<td><md-checkbox ng-model="roleForm.role.permissions.members.canDelete"></md-checkbox></td>
			</tr>
			<tr>
				<th>Roles</th>
				<td><md-checkbox ng-model="roleForm.role.permissions.roles.canView"></md-checkbox></td>
				<td><md-checkbox ng-model="roleForm.role.permissions.roles.canChange"></md-checkbox></td>
				<td><md-checkbox ng-model="roleForm.role.permissions.roles.canDelete"></md-checkbox></td>
			</tr>
			<tr>
				<th>Access Keys</th>
				<td><md-checkbox ng-model="roleForm.role.permissions.accessKeys.canView"></md-checkbox></td>
				<td><md-checkbox ng-model="roleForm.role.permissions.accessKeys.canChange"></md-checkbox></td>
				<td><md-checkbox ng-model="roleForm.role.permissions.accessKeys.canDelete"></md-checkbox></td>
			</tr>
			<tr>
				<th>Scheduler</th>
				<td><md-checkbox ng-model="roleForm.role.permissions.scheduler.canView"></md-checkbox></td>
				<td><md-checkbox ng-model="roleForm.role.permissions.scheduler.canChange"></md-checkbox></td>
				<td><md-checkbox ng-model="roleForm.role.permissions.scheduler.canDelete"></md-checkbox></td>
			</tr>
			<tr>
				<th>Data</th>
				<td><md-checkbox ng-model="roleForm.role.permissions.data.canView"></md-checkbox></td>
				<td><md-checkbox ng-model="roleForm.role.permissions.data.canChange"></md-checkbox></td>
				<td><md-checkbox ng-model="roleForm.role.permissions.data.canDelete"></md-checkbox></td>
			</tr>
		</tbody>
	</table>

	<md-button
		class="md-raised md-primary pull-right"
		type="submit"
		ng-click="roleForm.createRole(roleForm.role.name)"
		ng-disabled="roleSaveForm.$invalid || roleForm.isSaving"
	>{{ roleForm.isSaving ? 'Saving...' : roleForm.formType }}</md-button>
</form>
