@import '../../static/styles/variables';

.role-create-view {
	width: 600px;

	.remove-user {
		width: 40px;
		text-align: center;
		float: right;
	}

	user-select {
		float: right;
	}

	.md-button.md-icon-button {
		padding: 0px 20px !important;
	}

	.md-button .fa {
		color: #888888;
	}

	button {
		margin-top: 20px;
	}

	table {
		margin-bottom: $padding-medium;
	}
}
