<div class="layout-view">
	<ul>
		<li><a ui-sref-active="active" ui-sref="dashboard">Dashboard</a></li>
		<li><a ng-class="{active: layout.isStateActive('schema')}" ui-sref="schema.list">Schemas</a></li>
		<li><a ui-sref-active="active" ui-sref="recordBrowser">Data</a></li>
		<li><a ui-sref-active="active" ui-sref="fileBrowser">File</a></li>
		<li><a ng-class="{active: layout.isStateActive('role')}" ui-sref="role.list">Roles</a></li>
		<li><a ng-class="{active: layout.isStateActive('user')}" ui-sref="user.list">Users</a></li>
		<li><a ui-sref-active="active" ui-sref="account.profile">Account</a></li>
	</ul>

	<ui-view></ui-view>
</div>
