@import '../../../static/styles/variables';

.query-builder {
	.filter-form {
		background: $gray-light;
		margin: 0 (-$padding) $padding;
		padding: $padding;
		overflow: hidden;

		h4 {
			color: $secondary;
		}
	}

	.add-filter-button.md-button {
		background: $blue-gray;
		min-width: initial;
		min-height: initial;
		width: 22px;
		height: 22px;
		line-height: 22px;
		padding: 0;
		border-radius: 50%;
		float: right;

		.fa.fa-plus {
			color: $white;
			margin: 0;
		}

		&:disabled {
			background: $blue-gray-light;
		}
	}

	.filter-group {
		margin-bottom: 15px;
	}

	.field-name {
		color: $blue-gray;
		font-size: .9em;
		font-weight: bold;
	}

	.filter {
		border-left: 2px solid $blue-gray;
		padding: 0 0 3px 3px;
		margin-left: 1px;
		font-size: .8em;

		&:last-child {
			padding-bottom: 0;
		}
	}

	.operator {
		color: $blue-gray;
		background: $blue-gray-light;
		font-size: .8em;
		font-weight: bold;
		padding: 2px 4px;
		border-radius: 4px;
		margin-right: 5px;
	}

	.submit-button {
		width: 100%;
	}
}
