<div class="query-builder">
	<h3>Query Builder</h3>


	<!-- ~~~~~~~~~~~ -->
	<!-- Schema list -->
	<!-- ~~~~~~~~~~~ -->

	<md-input-container class="md-block">
		<label>Schema</label>

		<md-select
			ng-model="queryBuilder.query.schema"
			ng-change="queryBuilder.getSchemaDetails(queryBuilder.query.schema)"
		>
			<md-option ng-repeat="schema in queryBuilder.schemaList" value="{{ schema.name }}">
				{{ schema.name }}
			</md-option>
		</md-select>
	</md-input-container>

	<!-- ~~~~~~~~~~~ -->
	<!-- Filter Form -->
	<!-- ~~~~~~~~~~~ -->

	<form
		class="filter-form"
		name="filterForm"
		ng-if="queryBuilder.isAddingFilter"
		ng-submit="queryBuilder.applyFilter(pendingFilter)"
		autocomplete="off"
		novalidate
	>
		<h4>Add a filter</h4>

		<md-input-container class="md-block">
			<label>Field</label>
			<md-select ng-model="pendingFilter.field" required>
				<md-option ng-repeat="field in queryBuilder.schemaDetails.fields" value="{{ field.name }}">
					{{ field.name }}
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container class="md-block">
			<label>Filter Type</label>
			<md-select ng-model="pendingFilter.operator" required>
				<md-option ng-repeat="(operator, value) in queryBuilder.operatorDictionary" value="{{ operator }}">
					{{ operator }}
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container class="md-block">
			<label>Value</label>
			<input type="text" ng-model="pendingFilter.value" required>
		</md-input-container>

		<md-button type="submit" class="md-raised md-primary" ng-disabled="filterForm.$invalid">Apply Filter</md-button>
		<md-button ng-click="queryBuilder.cancelFilter()">Cancel</md-button>
	</form>


	<!-- ~~~~~~~~~~~~~~~ -->
	<!-- Applied Filters -->
	<!-- ~~~~~~~~~~~~~~~ -->

	<label>Filters</label>

	<button
		type="button"
		class="add-filter-button"
		ng-hide="queryBuilder.isAddingFilter"
		ng-click="queryBuilder.showFilterForm()"
		ng-disabled="!queryBuilder.schemaDetails"
	><span>+</span></button>

	<div class="filter-group" ng-repeat="(field, filterList) in queryBuilder.query.filterGroups">
		<span class="field-name">{{ field }}</span>
		<div class="filter" ng-repeat="filter in filterList">
			<span class="operator">{{ filter.operator }}</span>
			<span class="value">{{ filter.value }}</span>
			<i class="fa fa-times" ng-click="queryBuilder.removeFilter(field, filter)"></i>
		</div>
	</div>


	<!-- ~~~~~~~~ -->
	<!-- Ordering -->
	<!-- ~~~~~~~~ -->

	<div layout="row">
		<md-input-container flex>
			<label>Order</label>
			<md-select ng-model="queryBuilder.query.order_by" ng-disabled="!queryBuilder.schemaDetails.fields.length">
				<md-option ng-repeat="field in queryBuilder.schemaDetails.fields" value="{{ field.name }}">
					{{ field.name }}
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container flex>
			<label>Ordering</label>
			<md-select ng-model="queryBuilder.query.ordering" ng-disabled="!queryBuilder.query.order_by">
				<md-option value="asc" selected>Ascending</md-option>
				<md-option value="desc">Descending</md-option>
			</md-select>
		</md-input-container>
	</div>


	<!-- ~~~~~ -->
	<!-- Limit -->
	<!-- ~~~~~ -->

	<md-input-container class="md-block">
		<label>Limit</label>
		<input type="text" ng-model="queryBuilder.query.limit">
	</md-input-container>


	<!-- ~~~~~~ -->
	<!-- Offset -->
	<!-- ~~~~~~ -->

	<md-input-container class="md-block">
		<label>Offset</label>
		<input type="text" ng-model="queryBuilder.query.offset">
	</md-input-container>


	<!-- ~~~~~ -->
	<!-- Index -->
	<!-- ~~~~~ -->

	<md-input-container class="md-block">
		<label>Index</label>
		<md-select ng-model="queryBuilder.query.index" ng-disabled="!queryBuilder.schemaDetails.indices.length">
			<md-option ng-repeat="index in queryBuilder.schemaDetails.indices" value="{{ index.name }}">
				{{ index.name }}
			</md-option>
		</md-select>
	</md-input-container>

</div>
