<form class="schema-detail-view view-frame" md-whiteframe="2" ng-submit="schemaDetail.save(schemaDetail.schema)">
	<div class="view-header">
		<h1>Schema Detail</h1>

		<md-button class="md-raised" ng-click="schemaDetail.deleteSchema(schemaDetail.schema.originalName)">
			<i class="fa fa-times"></i> Delete Schema
		</md-button>
	</div>

	<div class="info message" ng-show="schemaDetail.isUpdate">
		Heads up! Changing a field name, datatype, or required values will only apply to new incoming documents.
		Existing documents will have the old field name.
	</div>

	<md-input-container class="md-block">
		<label>Schema Name</label>
		<input type="text" ng-model="schemaDetail.schema.newName">
	</md-input-container>

	<table ng-show="schemaDetail.schema.fields">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Required</th>
				<th>Indexed</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="field in schemaDetail.schema.fields">
				<td>
					<md-input-container>
						<input type="text" ng-model="field.name">
					</md-input-container>
				</td>

				<td>
					<md-input-container class="md-block">
						<md-select ng-model="field.datatype">
							<md-optgroup ng-repeat="group in schemaDetail.datatypeGroups" label="{{ group.name }}">
								<md-option
									ng-repeat="type in group.types"
									value="{{ type }}"
								>{{ type }}</md-option>
							</md-optgroup>
						</md-select>
					</md-input-container>
				</td>

				<td class="text-center"><md-checkbox ng-model="field.required"></md-checkbox></td>
				<td class="text-center"><md-checkbox ng-model="field.indexed"></md-checkbox></td>
				<td class="text-center"><i class="fa fa-times"></i></td>
			</tr>
		</tbody>
	</table>

	<md-button
		class="md-raised md-primary pull-right"
		type="submit"
		ng-disabled="schemaDetail.isSaving"
	>{{ schemaDetail.isSaving ? 'Saving...' : schemaDetail.isUpdate ? 'Update Schema' : 'Create Schema' }}</md-button>
</form>
