@import '../../static/styles/variables';

.schema-detail-view {
	md-input-container {
		margin: 0 !important;
		height: 40px;
		line-height: normal;
	}

	md-checkbox {
		margin: 0;
	}

	button {
		margin-top: $padding-medium;
	}
}
