<div class="policy-list-view view-frame" md-whiteframe="2">
	<div class="view-header">
		<h1>Policy</h1>

		<md-button class="md-primary md-raised" ui-sref="policy.create">
			<i class="fa fa-plus"></i>
			Create Policy
		</md-button>
	</div>

	<table>
		<thead>
		<tr>
			<th>Policy</th>
		</tr>
		</thead>

		<tbody>
		<tr ui-sref="policy.detail({ policy_id: policy.id })" ng-repeat="policy in policyList.policyList">
			<td>
				<div class="policy-info">
					{{ policy.description }}
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
