<form name="policySaveForm" class="policy-form-view view-frame" md-whiteframe="2" autocomplete="off" ng-if="policyForm.isFound">
	<h1>{{ policyForm.formType + ' Policy' }}</h1>

	<md-input-container class="md-block">
		<label>Policy</label>
		<textarea ng-model="policyForm.policy" required></textarea>
	</md-input-container>

	<div class="pull-right">
		<md-button type="button" ng-click="policyForm.cancel()">
			Cancel
		</md-button>
		<md-button
			class="md-raised md-primary"
			type="submit"
			ng-click="policyForm.savePolicy(policyForm.policy)"
			ng-disabled="policySaveForm.$invalid || policyForm.isSaving"
			aria-label="Policy save button">
			{{ policyForm.isSaving ? 'Saving...' : policyForm.formType }}
		</md-button>
	</div>
</form>

<div ng-if="policyForm.notFoundOptions.isNotFound">
	<not-found options="policyForm.notFoundOptions"></not-found>
</div>
