	<div class="view-header">
		<h1>Project Title / Repo</h1>
	</div>

	<h2>Breadcrumb path</h2>

<div class="repo-view">
	<div ng-if="repo.isRoot">
		{{ repo.repoList.number_of_commits }}
		{{ repo.repoList.number_of_commits > 1 ? 'Commits' : 'Commit' }}
		{{ repo.repoList.branches.length }}
		{{ repo.repoList.branches.length > 1 ? 'Branches' : 'Branch' }}
	</div>

	<table>
		<thead ng-if="repo.repoList.head">
			<tr>
				<th>
					{{ repo.repoList.head.commit.committer.name }}:
					{{ repo.repoList.head.commit.message }}
				</th>
			</tr>
		</thead>

		<tbody>
			<tr class="row" ng-repeat="folder in repo.folderList">
				<td>
					<i class="fa fa-folder-o"></i>
					<a ng-click="repo.getPath('repo.detail', folder.name)">
						{{ folder.name }}
					</a>
				</td>
			</tr>
			<tr class="row" ng-repeat="file in repo.fileList">
				<td>
					<i class="fa fa-file-text-o"></i>
					<a ng-click="repo.getPath('repo.file', file.name)">
						{{ file.name }}
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
