@import '../../static/styles/variables';

.repo-view {
	.repo-status {
		display: block;
		margin: 0 auto;
	}

	i {
		padding-right: 5px;
	}

	.row:hover {
		background: darken($gray-lightest, 5%);
	}

	li {
		float: left;
	}

	li + li:before {
		content: '/';
		padding: 0 0 0 5px;
	}

	.commit-info {
		float: right;
	}
}
