<div class="schema-list-view view-frame" md-whiteframe="2">
	<div class="view-header">
		<h1>Schemas</h1>

		<md-button class="md-primary md-raised" ui-sref="schema.create">
			<i class="fa fa-plus"></i>
			Create Schema
		</md-button>
	</div>

	<md-input-container class="md-icon-float md-block">
		<label>Search</label>
		<md-icon md-font-icon="fa fa-search"></md-icon>
		<input type="text" ng-model="schemaList.searchTerm">
	</md-input-container>

	<div ng-repeat="schema in schemaList.schemaList | filter:{ name: schemaList.searchTerm }">
		<div class="schema-name">
			<a ui-sref="schema.detail({ schemaName: schema.name })">
				<h2>
					{{ schema.name }}
					<i class="fa fa-pencil"></i>
				</h2>
			</a>
		</div>

		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Indexed</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="field in schema.fields">
					<td>{{ field.name }}</td>
					<td>{{ field.datatype }}</td>
					<td>
						<i ng-if="field.index" class="fa fa-check"></i>
						<i ng-if="!field.index" class="fa fa-times"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
