@import '../../static/styles/variables';

.schema-list-view {
	margin-left: 272px;
	background: transparent;

	.sidenav-left {
		width: 272px;
		top: 60px;
		bottom: 0;
		left: 0;
		position: fixed !important;
		overflow: hidden;

		.sidenav-toolbar {
			overflow: hidden;
			z-index: 9;
			width: 100%;
			background: #01579B;

			& > * {
				color: #fff;
				max-height: 1.5em;
				line-height: 1.5em;
			}
		}
		ul {
			max-height: calc(100% - 70px);
			width: 100%;
			overflow: auto;
		}

		.md-button {
			line-height: 40px;
			max-height: 40px;
			overflow: hidden;
			text-align: left;
			width: 100%;

			&.active { background-color: rgba(158, 158, 158, 0.2); }
		}
	}

	.fa-search {
		line-height: 26px;
		padding-top: 2px;
		margin-left: 8px;

		&.md-input-focused { color: $primary; }
	}

	.schema-name {
		a { text-decoration: none; }

		.fa {
			font-size: 18px;
			vertical-align: middle;
		}
	}

	table {
		margin-bottom: 60px;
		width: 960px;
	}
}
