<div class="schema-list-view">

	<div class="sidenav-left" md-whiteframe="4">
		<div class="sidenav-toolbar">
			<h2 layout-padding>Schemas</h2>
		</div>
		<ul>
			<li ng-repeat="schema in schemaList">
				<a href="#"
					 class="md-button md-ink-ripple"
					 aria-label="{{ schema.name }}"
					 ng-class="{ 'active': schema === selectedSchema }"
					 ng-click="focusSelection(schema)">
					{{ schema.name }}
				</a>
			</li>
		</ul>
	</div>

	<div class="view-header">
		<h1>{{ selectedSchema.name }}</h1>

		<md-button class="md-secondary md-raised" ui-sref="schema.detail({ schemaName: selectedSchema.name })">
			<i class="fa fa-pencil"></i>
			Edit Schema
		</md-button>
		<md-button class="md-primary md-raised" ui-sref="schema.create">
			<i class="fa fa-plus"></i>
			Create Schema
		</md-button>
	</div>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Indexed</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="field in selectedSchema.fields">
				<td>{{ field.name }}</td>
				<td>{{ field.datatype }}</td>
				<td>
					<i ng-if="field.index" class="fa fa-check"></i>
					<i ng-if="!field.index" class="fa fa-times"></i>
				</td>
			</tr>
		</tbody>
	</table>
</div>
