@import '../../static/styles/variables';

.schema-list-view {
	margin-left: 272px;
	background: transparent;
		ul {
			max-height: calc(100% - 70px);
			width: 100%;
			overflow: auto;
		}
	.fa-search {
		line-height: 26px;
		padding-top: 2px;
		margin-left: 8px;

		&.md-input-focused { color: $primary; }
	}

	.schema-name {
		a { text-decoration: none; }

		.fa {
			font-size: 18px;
			vertical-align: middle;
		}
	}

	table {
		margin-bottom: 60px;
		width: 960px;
	}
}
