@import '../../static/styles/variables';

.schema-list-view {
	$sidenav-toolbar-height: 64px;

	margin-left: $sidebar-width;
	.schema-list-empty-container {
		text-align: center;
		margin: 30px auto 0;
		width: 350px;
		background: $white;
		padding: 35px;
	}

	.sidenav-left {
		width: $sidebar-width;
		top: 60px;
		bottom: 0;
		left: 0;
		position: fixed;
		overflow: hidden;
	}

	.sidenav-toolbar {
		overflow: hidden;
		width: 100%;
		background: $blue;
		color: #fff;
		height: $sidenav-toolbar-height;
		line-height: $sidenav-toolbar-height;
		margin: 0;
		padding: 0 20px;
	}

	.schema-list {
		position: absolute;
		top: $sidenav-toolbar-height;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;
	}

	.schema {
		line-height: 40px;
		height: 40px;
		text-align: left;
		width: 100%;
		border-radius: 0;

		&.active {
			background-color: rgba(158, 158, 158, 0.2);
		}
	}

	table {
		margin-bottom: 60px;
		width: 960px;
	}
}
