<div class="role-detail-view view-frame" md-whiteframe="2">
	<div class="view-header">
		<h1>{{ roleDetail.role.name }} <small>Role</small></h1>

		<md-button class="md-raised md-primary" ng-click="roleDetail.editRole()">
			<i class="fa fa-pencil"></i> Edit Role
		</md-button>

		<md-button class="md-raised" ng-click="roleDetail.deleteRole()">
			<i class="fa fa-times"></i> Delete Role
		</md-button>
	</div>

	<section class="members">
		<h2>Team Members</h2>

		<ul>
			<li class="user" ng-repeat="user in roleDetail.userList">
				<img class="user-image"
				     ng-src="{{ user.photo }}"
				     alt="{{ user.full_name }}">

				<a class="remove-user" ng-click="roleDetail.removeUser(user)">
					<i class="fa fa-times"></i>
				</a>

				<div class="user-info">
					<a ui-sref="user.detail({ user_id: user.id })">
						{{ user.full_name }}
					</a>
					<div class="email">{{ user.email }}</div>
				</div>
			</li>
		</ul>
	</section>

	<section class="permissions">
		<h2>Permissions</h2>
		<permissions-table permissions="roleDetail.role.permissions"></permissions-table>
	</section>
</div>
