<div class="role-detail-view view-frame" md-whiteframe="2">
	<div class="view-header">
		<md-button class="md-raised md-primary" ui-sref="role.edit({ roleName: roleDetail.role.name })">
			<i class="fa fa-pencil"></i> Edit Role
		</md-button>

		<md-button class="md-raised" ng-click="roleDetail.deleteRole(roleDetail.role.name)">
			<i class="fa fa-times"></i> Delete Role
		</md-button>

		<h1 class="ellipsis">
			{{ roleDetail.role.name }}
			<small>Role</small>
		</h1>
	</div>

	<div class="message" ng-if="roleDetail.status" ng-class="roleDetail.status">
		{{ roleDetail.status === 'success'
		? 'Successfully deleted.'
		: 'There was an error deleting the record. Please try again.'
		}}
	</div>

	<section class="members">
		<user-select users="roleDetail.userListNotInRole" controller-name="roleDetail"></user-select>
		<h2>Team Members</h2>

		<ul>
			<li class="user" ng-repeat="user in roleDetail.userListInRole | orderBy: 'full_name'">
				<img class="user-image"
				     ng-src="{{ user.photo }}"
				     alt="{{ user.full_name }}">

				<a class="remove-user" ng-click="roleDetail.deleteUser(user)">
					<i class="fa fa-times"></i>
				</a>

				<div class="user-info">
					<div class="ellipsis">
						<a ui-sref="user.detail({ user_id: user.id })">
							{{ user.full_name }}
						</a>
					</div>
					<div class="email ellipsis">{{ user.email }}</div>
				</div>
			</li>
		</ul>
	</section>
</div>
