@import '../../static/styles/variables';

$image-size: 50px;
$member-width: 35%;
$section-gutter: 7%;

.role-detail-view {
	h1 {
		width: 545px;
	}

	small {
		color: $gray-mid;
		font-size: .72em;
		display: block;
		margin: 5px;
	}

	.user {
		overflow: hidden;
		margin-bottom: 30px;
	}

	.user-image {
		float: left;
		width: $image-size;
		height: $image-size;
	}

	.user-info {
		margin-left: $image-size + $padding;
		margin-right: 40px;
	}

	.remove-user {
		width: 40px;
		text-align: center;
		float: right;
	}

	user-select {
		float: right;
	}

	.md-button.md-icon-button {
		padding: 0px 20px !important;
	}

	section {
		float: left;
	}

	.members {
		width: $member-width;
		margin-right: $section-gutter;
	}
}
