@import '../../static/styles/variables';

$image-size: 50px;
$member-width: 35%;
$section-gutter: 7%;

.role-detail-view {
	small {
		color: $gray-mid;
		font-size: .72em;
	}

	.user {
		overflow: hidden;
		margin-bottom: 30px;
	}

	.user-image {
		float: left;
		width: $image-size;
		height: $image-size;
	}

	.user-info {
		margin-left: $image-size + $padding;
		margin-right: 40px;
	}

	.remove-user {
		width: 40px;
		text-align: center;
		float: right;
	}

	user-select {
		float: right;
	}

	.md-button.md-icon-button {
		padding: 0px 20px !important;
	}

	.md-button .fa {
		color: #888888;
	}

	section {
		float: left;
	}

	.members {
		width: $member-width;
		margin-right: $section-gutter;
	}
}
