<div class="record-edit-view view-frame" md-whiteframe="4">
  <div class="view-header">
    <h1>Edit Record</h1>

    <md-button class="md-raised md-secondary" ng-click="showRemoveDialog($event)">
      <i class="fa fa-times"></i>
      Delete record
    </md-button>
    <md-button class="md-raised md-primary" ng-click="showAddFieldDialog($event)">
      <i class="fa fa-plus"></i>
      Add field
    </md-button>
  </div>

  <div>
    <md-input-container>
      <label>ID</label>
      <input type="text" disabled ng-model="document_id">
    </md-input-container>
  </div>

	<form name="recordForm" ng-submit="update()">
		<div ng-repeat="(key, value) in record">
			<md-input-container ng-hide="key === 'id' || key === '_meta'">
				<label>{{ key }}</label>
				<input type="" ng-model="record[key]" ng-required="meta[key].required">
			</md-input-container>
		</div>

	  <div style="text-align: right;">
	    <md-button type="submit" class="md-raised md-primary" ng-disabled="recordForm.$invalid">
	      Save
	    </md-button>
	  </div>
	</form>


  <div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
      <md-dialog layout-padding>
        <h2>Add field</h2>

        <div>
          <md-input-container>
            <label for="">Field name</label>
            <input type="text" ng-model="newField.field">
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <label for="">Field value</label>
            <input type="text" ng-model="newField.value">
          </md-input-container>
        </div>
				<div>
					<md-input-container>
						<label>Data type</label>
						<md-select ng-model="newField.datatype">
							<md-option value="text">text</md-option>
							<md-option value="number">number</md-option>
							<md-option value="boolean">boolean</md-option>
							<md-option value="array">array</md-option>
							<md-option value="object">object</md-option>
						</md-select>
					</md-input-container>
				</div>

        <md-button class="md-raised md-primary" ng-click="answer()">Add</md-button>
        <md-button class="md-raised md-secondary" ng-click="cancel()">Cancel</md-button>
      </md-dialog>
    </div>
  </div>
</div>
