<div class="record-edit-view view-frame" md-whiteframe="4">
  <div class="view-header">
    <h1 class="ellipsis"> {{ document_id }}</h1>

    <md-button class="md-raised md-secondary" ng-click="remove()">
      <i class="fa fa-times"></i>
      Delete record
    </md-button>
    <md-button class="md-raised md-primary" ng-click="showDialog($event)">
      <i class="fa fa-plus"></i>
      Add field
    </md-button>
  </div>

  <div ng-repeat="(key, value) in data">
    <md-input-container ng-hide="key === 'id' || key === '_meta'">
      <label>{{ key }}</label>
      <input type="text" ng-model="data[key]">
    </md-input-container>
  </div>

  <div style="text-align: right;">
    <md-button class="md-raised md-primary" ng-click="update()">
      Save
    </md-button>
  </div>

  <div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
      <md-dialog layout-padding>
        <h2>Add field</h2>

        <div>
          <md-input-container>
            <label for="">Field name</label>
            <input type="text" ng-model="newKey">
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <label for="">Field value</label>
            <input type="text" ng-model="newValue">
          </md-input-container>
        </div>

        <md-button class="md-raised md-primary" ng-click="answer()">Add</md-button>
        <md-button class="md-raised md-secondary" ng-click="cancel()">Cancel</md-button>
      </md-dialog>
    </div>
  </div>
</div>
