<div class="account-profile-view">
	<h1>Profile</h1>

	<form name="profileForm">
		<md-input-container class="md-block">
			<label>Name*</label>
			<input type="text" ng-model="accountProfile.currentUser.name" required>
		</md-input-container>

		<md-input-container class="md-block">
			<label>Email*</label>
			<input type="text" ng-model="accountProfile.currentUser.email" required>
		</md-input-container>

		<md-button
			class="md-raised md-primary pull-right"
			ng-click="accountProfile.save(accountProfile.currentUser)"
			ng-disabled="profileForm.$invalid"
		>Update Profile</md-button>
	</form>
</div>
