<div class="account-profile-view">
	<h1>Profile</h1>

	<div class="message" ng-if="accountProfile.status" ng-class="accountProfile.status">
		{{ accountProfile.status === 'success'
			? 'Successfully saved'
			: 'There was an error saving your changes. Please try again.'
		}}
	</div>

	<form name="profileForm" ng-submit="accountProfile.save(accountProfile.currentUser)">
		<md-input-container class="md-block">
			<label>Name*</label>
			<input type="text" ng-model="accountProfile.currentUser.full_name" required>
		</md-input-container>

		<md-input-container class="md-block">
			<label>Email*</label>
			<input type="text" ng-model="accountProfile.currentUser.email" required>
		</md-input-container>

		<md-button
			class="md-raised md-primary pull-right"
			type="submit"
			ng-disabled="profileForm.$invalid || accountProfile.isSaving"
		>{{ accountProfile.isSaving ? "Saving..." : "Update Profile" }}</md-button>
	</form>
</div>
