@import '../../static/styles/variables';

.user-form-view {
	table {
		margin-bottom: $padding-medium;
	}

	md-input-container {
		width: 50%;
	}

	li {
		display: block;
	}
}

.user-form-view {
	width: 600px;
}
