<form name="userForm" class="user-create-view view-frame" md-whiteframe="2">
	<h1>{{ userCreate.pageTitle }}</h1>

	<div class="message" ng-if="userCreate.status" ng-class="userCreate.status">
		{{ userCreate.status === 'success'
		? 'Successfully saved'
		: 'There was an error saving your changes. Please try again.'
		}}
	</div>

	<md-input-container class="md-block">
		<label>User Name</label>
		<input type="text"
		       name="full_name"
		       ng-model="userCreate.user.full_name"
		       required>
		<div ng-messages="userForm.full_name.$error">
			<div ng-message="required">Name is required.</div>
		</div>
	</md-input-container>
	<md-input-container class="md-block">
		<label>Email</label>
		<input type="email"
		       name="mail"
		       ng-model="userCreate.user.email"
		       required>
		<div ng-messages="userForm.mail.$error">
			<div ng-message="required">Email is required.</div>
			<div ng-message="email">Valid email address required.</div>
		</div>
	</md-input-container>
	<md-input-container class="md-block">
		<label>Password</label>
		<input type="password"
		       name="password"
		       ng-model="userCreate.user.password"
		       required>
		<div ng-messages="userForm.password.$error">
			<div ng-message="required">Password is required.</div>
		</div>
	</md-input-container>

	<md-button
		class="md-raised md-primary pull-right"
		type="submit"
		ng-click="userCreate.createUser(userCreate.user, userCreate.roleList)"
		ng-disabled="userForm.$invalid || userCreate.isSaving">
		{{ userCreate.isSaving ? 'Saving...' : userCreate.pageTitle }}
	</md-button>
</form>
