<div class="role-list-view view-frame" md-whiteframe="2">
	<div class="view-header">
		<h1>Roles</h1>

		<md-button class="md-primary md-raised" ui-sref="role.create">
			<i class="fa fa-plus"></i>
			Add Role
		</md-button>
	</div>

	<table>
		<thead>
			<tr>
				<th>Role</th>
				<th>Members</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="role in roleList.roleList">
				<td>
					<a ui-sref="role.detail({ roleName: role.name })">
						{{ role.name }}
					</a>
				</td>
				<td>{{ role.users.length }}</td>
			</tr>
		</tbody>
	</table>
</div>
