.user-edit-view {

	h1, img {
		float: left;
	}

	h2 {
		clear: left;
	}

	.edit-body {
		clear: both;
	}

	.edit-form md-input-container {
		width:350px;
	}
	
	img {
		margin-right: $padding-medium;
		height: 86px;
		width: 86px;
	}

	.white-frame {
		padding: $padding $padding-medium;
		margin: 40px 80px;
	}

	small {
		display: block;
		color: $gray-mid;
	}

	.token {
		padding: $padding $padding;
		margin-bottom: $padding-medium;
		color: $gray-medium;
	}

	.md-button.md-primary {
		float: right;
		margin-top: 24px;
	}

}