<div class="login-view">
	<div class="form-wrapper">
		<form ng-submit="login.login(login.credentials)" md-whiteframe="2">
			<div class="login-header">
				<img class="logo" src="static/images/montage-logo.png">
				<span class="company-name">Montage</span>
			</div>

			<p class="error-message">{{ login.errorMessage }}</p>

			<div class="input-wrapper">
				<md-input-container class="md-block">
					<label>Email</label>
					<input id="email" type="email" ng-model="login.credentials.username">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Password</label>
					<input id="password" type="password" ng-model="login.credentials.password">
				</md-input-container>

				<md-button type="submit" class="md-raised md-primary">Sign In</md-button>
			</div>
		</form>
	</div>
</div>
