@import 'variables';
@import 'mixins';

table {
	width: 100%;
}

tbody tr {
	border-bottom: 1px solid $gray-light;

	&:nth-child(even) {
		background-color: $gray-lightest;
	}
}

th, td {
	line-height: 40px;
	padding: 0 15px;

	&:first-child,
	&.actions {
		border-left: 0;
	}
}

th {
	text-align: left;
	color: $blue-gray;
	background: $blue-gray-light;
	border-bottom: 2px solid $blue-gray;
	border-left: 1px solid white;
}

td {
	max-width: 250px;
	@include ellipsis();
	border-left: 1px solid $gray-light;

	&.actions {
		text-align: right;
		padding: 0;

		a {
			display: inline-block;
			line-height: 40px;
			width: 30px;
			text-align: center;
			color: $gray-mid;

			&:hover {
				color: $gray-dark;
			}
		}
	}
}
