// Positioning
.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

// Text
.text-center {
	text-align: center;
}

// Messages
.message {
	display: block !important;
	padding: $padding !important;
	background: $primary !important;
	color: $white !important;

	&.success {
		background: $success !important;
	}

	&.error {
		background: $danger !important;
	}
}
