<div class="account-password-view">
	<h1>Change Password</h1>

	<p>
		Please enter your old password, for security's sake,
		and then enter your new password twice so we can verify you typed it in correctly.
	</p>

	<div class="message" ng-if="accountPassword.status" ng-class="accountPassword.status">
		{{ accountPassword.status === 'success'
			? 'Password successfully changed'
			: 'There was an error saving your changes. Please try again.'
		}}
	</div>

	<form name="changePasswordForm" ng-submit="accountPassword.changePassword(accountPassword.passwords)">
		<md-input-container class="md-block">
			<label>Current password*</label>
			<input type="password" ng-model="accountPassword.passwords.current" required>
		</md-input-container>

		<md-input-container class="md-block">
			<label>New Password*</label>
			<input type="password" ng-model="accountPassword.passwords.new" required>
		</md-input-container>

		<md-input-container class="md-block">
			<label>New password confirmation*</label>
			<input type="password" ng-model="accountPassword.passwords.confirmed" required>
		</md-input-container>

		<md-button
			class="md-raised md-primary pull-right"
			type="submit"
			ng-disabled="changePasswordForm.$invalid || accountPassword.isSaving"
		>{{ accountPassword.isSaving ? 'Saving...' : 'Change Password' }}</md-button>
	</form>
</div>
