<div class="policy-detail-view view-frame" md-whiteframe="2" ng-if="policyDetail.isFound">
	<div class="view-header">
		<h1>{{ policyDetail.policy.description }} <small>Policy</small></h1>

		<md-button class="md-raised md-primary" ui-sref="policy.edit({ policy_id: policyDetail.policy.id })">
			<i class="fa fa-pencil"></i> Edit Policy
		</md-button>

		<md-button class="md-raised" ng-click="policyDetail.deletePolicy(policyDetail.policy.id)">
			<i class="fa fa-times"></i> Delete Policy
		</md-button>
	</div>

	<div class="message" ng-if="policyDetail.status" ng-class="policyDetail.status">
		There was an error deleting the policy. Please try again.
	</div>

	<div>
		<pre pretty-json="policyDetail.policy" />
	</div>
</div>

<div ng-if="policyDetail.params.isNotFound">
	<not-found params="policyDetail.params"></not-found>
</div>
