@import '../../static/styles/variables';

.user-list-view {
	td {
		padding: 15px;
		width: 50%;
	}

	img {
		float: left;
		margin-right: $padding;
		height: 50px;
		width: 50px;
	}

	.user-info {
		width: 280px;

		a, div {
			line-height: 24px;
		}

		.email {
			color: $gray-mid;
		}
	}
}
