@import '../../assets/styles/variables';

.user-list-view {
	td {
		padding: 15px;
		width: 50%;
	}

	img {
		float: left;
		margin-right: $padding;
	}

	.user-info {
		float: left;

		a, div {
			line-height: 24px;
		}

		.email {
			color: $gray-mid;
		}

		.edit {
			margin-top:10px;
			line-height: 36px;
		}

		.material-icons {
			margin: 75% -7px;
			font-size: 32px;
		}
	}
}
